@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/********** RESET **********/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --clr-primary: hsl(26, 100%, 55%);
  --clr-white: hsl(25, 100%, 94%);

  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-black: hsl(0, 0%, 0%);
  --clr-neutral-gray-100: hsl(223, 64%, 98%);
  --clr-neutral-gray-300: hsl(220, 14%, 75%);
  --clr-neutral-gray-500: hsl(219, 9%, 45%);
  --clr-neutral-gray-700: hsl(220, 13%, 13%);
}

/********** STYLE **********/

body {
  font-family: "Kumbh Sans", sans-serif;
  max-width: 1110px;
  margin-inline: auto;
}

*::selection {
  background-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: default;
}

.icon-close {
  font-size: 2em;
  fill: #fff;
  display: flex;
  align-self: end;
  margin-bottom: 2rem;
  cursor: pointer;
}

.icon-close:hover {
  fill: var(--clr-primary);
}
.icon-arr {
  position: absolute;
  font-size: 3em;
  top: 50%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

.icon-arr:hover {
  fill: var(--clr-primary);
}

.icon-left-arr {
  left: 0;
  transform: translate(-50%, -50%);
}

.icon-right-arr {
  right: 0;
  transform: translate(50%, -50%);
}

.cart {
  font-weight: 700;
  font-size: 1.2em;
  margin: 0;
}

.cart-icon {
  color: grey;
  margin-right: 2rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.cart-icon:hover {
  color: #000;
}

.qt-icon {
  color: var(--clr-primary);
  font-size: 1.1em;
  font-weight: 700;
  cursor: pointer;
}

.qt-icon:hover {
  color: #ffac6a;
}

.trash-icon {
  color: var(--clr-neutral-gray-500);
  font-size: 1.2em;
  cursor: pointer;
}

/* HAMBURGER MENU */

.hamburger {
  /* top: 50%;
  left: 10%; */
  width: 50px;
  height: 6px;
  background: #000;
  /* position: absolute; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  cursor: pointer;
}

.hamburger:before {
  top: -16px;
}

.hamburger:after {
  top: 16px;
}

/* Icon */
.icon-one {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.hamburger-one:before,
.hamburger-one:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: #000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  cursor: pointer;
}

.icon-one.active-one .hamburger-one {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.icon-one.active-one .hamburger-one:before {
  top: 0;
  transform: rotate(45deg);
}

.icon-one.active-one .hamburger-one:after {
  top: 0;
  transform: rotate(135deg);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
  margin-right: 60px;
}

@media (max-width: 920px) {
  .logo {
    padding-left: 4rem;
  }
}
